
body {
  text-align: center;
  font-family:Futura PT Bold, sans-serif;
  color: #1a1a1a; 
  margin: 0;
  padding: 0;
  background-image: url('fimg/FedexBK.webp');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

/* ALL HEADER STYLE INFO (title and subtitle) // KEYWORD = HEADER */
	.header {
  position: relative; 
  text-align: center;
  top: 5px;
}
	.header h1 {
  font-family: Futura PT Bold, sans-serif;
  font-size: 80px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: -25px;
}

	.header h3 {
  font-family: Futura PT Bold, sans-serif;
  font-size: 100px;
  color: #ffffff;
}	
.header {
    text-align: left;
    padding: 10px 20px;
}
.login input[type="text"],
.login input[type="password"] {
  width: 350px;
  padding: 14px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login input[type="submit"] {
  width: 350px;
  padding: 14px;
  margin-top: 10px;
  background-color: #4D148C;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background-color: #3b0f6b;
}

.login {
  background: rgba(255, 255, 255, 0.85);
  width: 420px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 15px;
 
}